span{
    font-size: 24px;
    padding-right: 10px;
    font-weight: bold;
    
}
p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
#quoteInput{
    font-size: 24px;
    font-weight: bold;
    
}
body{
    background-image: repeating-linear-gradient(rgb(236, 194, 194),rgb(217, 217, 239) );
}